@import '../../breakpoints';

.footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--background-color);
    padding: 2rem 1.5rem;
    border-top: 3px solid #fff;
    z-index: 1;
    @include desktop {
        padding: 2rem 8rem;
      }
}

.smallLogo {
    display: grid;
    align-items: center;
    justify-content: left;
}

.socialFooter {
    display: grid;
    align-items: center;
    justify-content: right;
}
