@import '../../breakpoints';
@import '../../variables';

.footer {
    display: flex;
    max-height: 5.25rem;
    background-color: $background-color;
    padding: rem 1rem 0 1rem;
    border-top: 3px solid #fff;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include tablet {
        padding-top: 0.5rem;
        max-height:4.75rem;
    }

    @include desktop {
        padding-top: 2rem;
      }
}

.logo {
    padding-left: 2rem;

    @include desktop{
        padding-left: 8rem;
    } 
}

.socialMedia {
    padding-right: 2rem;

    @include desktop{
        padding-right: 7rem;
    }
}