@import '../../breakpoints';
@import '../../variables';

.footer {
    display: flex;
    height: 5.25rem;
    // grid-template-columns: 1fr 2fr;
    background-color: $background-color;
    padding: 1rem 1rem;
    border-top: 3px solid #fff;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include tablet {
        padding: 0.5rem 2rem;
        height:4.75rem;
    }

    @include desktop {
        padding: 0.5rem 6rem 0.5rem 7rem;
      }
}


