@import '../../breakpoints';

.linksContainer {
    
}

.link {
    padding-left: 25%;
    padding-bottom: 2rem;

    @include tablet {
        padding-left: 40%;
    }
    @include desktop {
        padding-right: 3rem;
        padding-left: 0;
        padding-bottom: 0;
        }

    a {
        font-family: var(--font-montserrat);
        font-weight: 700;
        font-size: 2rem;

    @include desktop {
        font-size:  1.25rem;
        }
    }
}