@import '../../_breakpoints.scss';

.logo {
    height: 96px;
    width: 94px;
    
    @include desktop {
        height: 196px;
        width: 191px;
        
        z-index: 1;
        margin-top: 4rem;
        // position: fixed;
        left: 43%;
      }
}