@import '../../_variables.scss';
@import '../../breakpoints.scss';

.navbarContainer {
    height: 150px;
    

    @include tablet {
        background-color: $background-color;
        height: 167px;
        padding-bottom: 4rem;
        padding-left: 4rem;
        padding-right: 4rem;
      }
      
      a {
        color: $tertiary-color;
        text-decoration: none;
        font-family: var(--font-montserrat);
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
    
        @include tablet {
            font-size:  1.25rem;
        }
        
        &:hover {
            color: $hover-color;
          }
    }
}

.logo {
  
}

.linksNav {
   
}

.socialsNav {
  padding-left: 20%;
}

.searchContainer {
  margin-right: 4rem;
  max-width: 13rem;
  display: flex;
  
  
}

.collapseContainer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  
}



