@import '../../breakpoints';

//same size mobile and desktop
.form-text {
    font-family: var(--font-lato);
    font-weight: 600;
    font-size: 2rem;
}

.labelBox {
    color: greenyellow;
    background-color: yellow;
}


.custom-form {
  .form-control {
    background-color: #f0f0f0; // Change the background color
    color: #333; // Change the text color
    border-color: #ccc; // Change the border color

    &:focus {
      border-color: #007bff; // Change the border color on focus
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); // Change the focus box shadow
    }
  }
}

.btn {
    background-color: #007bff; // Change the button background color
    border-color: #007bff; // Change the button border color

    &:hover {
      background-color: #0056b3; // Change the button background color on hover
      border-color: #0056b3; // Change the button border color on hover
    }
  }
