@import '../../variables';

.socialContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}



.socialLinks {
    padding: 0 1rem;
    align-items: center;
    :hover {
        transform: scale(1.4);
      }
}

.icon {
    height: 24px;
    width: 24px;
    
}


